# IntelliJ IDEA project files
.idea/

# Compiled files
*.class

# Logs
*.log

# Maven build folder
target/

# OS-specific files
.DS_Store
Thumbs.db

# Java project settings
*.iml
*.properties
**/application.properties

